:root{
  --primary: #ffffff;
  --primary-dark: #0c0c1040;
  --secondary : #1d1d21;
  --accent-a: #616164;
  --accent-b: #f64b29;
  --accent-c: #5a5a5a;
  --accent-d: #f2f2f2;
  --lh-a: 1.5;
  --lh-b: 1.75;
  --lh-c: 2;
  /* --main-font: 'Alliance No.2'; */
  --main-font: 'Space Mono', monospace;
  --sub-font: 'Manrope', sans-serif;
  --fs-one: 10vw;
  --fs-two: 6vw;
  --fs-three: 5vw;
  --fs-four: 4vw;
  --fs-five: 3.25vw;
}
::-webkit-scrollbar {
  display: none; /* chrome */
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
}
#root {
  position: relative;
}
