:root{
  /* --vh: 6.4px; */
}
::-webkit-scrollbar {
  display: none; /* chrome */
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
}
#root {
  position: relative;
}
