@font-face {
    font-family: "Alliance No.2";
    src: url("fonts/AllianceNo2-Regular.ttf");
  }
  body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    font-family: "Alliance No.2", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  button.primary,
  a.primary {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 5vw 12vw;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8vw;
    cursor: pointer;
    text-decoration: none;
  }
  button.secondary,
  a.secondary {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 5vw 10vw;
    background-color: transparent;
    color: var(--secondary);
    border: 1.5px solid var(--secondary);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8vw;
    cursor: pointer;
    text-decoration: none;
  }
  button.tertiary,
  a.tertiary {
    width: fit-content;
    height: auto;
    display: block;
    padding: 5vw 4vw;
    background-color: transparent;
    color: var(--secondary);
    border: none;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 10vh;
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
  }
  
  /*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
  html.has-scroll-smooth {
    overflow: hidden;
  }
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .has-scroll-smooth body {
    overflow: hidden;
  }
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }
  .is-inview {
    visibility: visible;
    opacity: 100%;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) rotate(0);
    transition: all 1.5s linear 0.5s;
  }
  .Home [data-scroll]:not(.is-inview),
  .About [data-scroll]:not(.is-inview),
  .Projects [data-scroll]:not(.is-inview),
  .Contact [data-scroll]:not(.is-inview),
  .Shop [data-scroll]:not(.is-inview),
  .Misc [data-scroll]:not(.is-inview),
  .Error [data-scroll]:not(.is-inview),
  .Playlist [data-scroll]:not(.is-inview),
  .Readlist [data-scroll]:not(.is-inview) {
    visibility: hidden;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 40, 0, 1)
      rotate(1deg);
  }
  
  @media only screen and (max-width: 760px) {
    .preloader-wrapper {
      background-color: var(--secondary);
      opacity: 100%;
      display: flex;
      flex-flow: column nowrap;
      transition: opacity 0.75s linear;
    }
    .absolute {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 9999;
    }
    .preloader-wrapper .preloader-name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 92%;
    }
    .preloader-wrapper .preloader-name > div > h1 {
      font-size: 12vw;
      color: var(--primary);
      font-family: var(--main-font);
      margin-bottom: 1vw;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    .preloader-wrapper .preloader-line {
      display: flex;
      /* align-items: center; */
      justify-content: center;
      height: 8%;
      position: relative;
    }
    .preloader-wrapper .preloader-line .line {
      position: absolute;
      left: 0;
      border-bottom: 2px solid var(--primary);
      animation: line 5s linear forwards;
    }
    @keyframes line {
      from {
        left: 0;
        width: 0%;
      }
      to {
        left: 0;
        width: 100%;
      }
    }
  
    .topbar-wrapper {
      height: auto;
      width: 100%;
    }
    .topbar {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 2.5vw 2vw 5vw;
      position: fixed;
      z-index: 9999;
      top: 0;
      background-color: transparent;
    }
    .topbar div.logo {
      height: fit-content;
      padding: 2vw;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px);
    }
    .topbar div.logo img.logo-image {
      width: 60px;
      aspect-ratio: 1;
    }
    .topbar nav.mobile-nav {
      display: block;
      align-self: center;
      z-index: 9999;
      width: 16vw;
      height: 100%;
      text-align: center;
    }
    .topbar nav.mobile-nav button {
      z-index: 9999;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      backdrop-filter: blur(5px);
      margin: auto;
      border: none;
      width: auto;
      height: auto;
      padding: 2.5vw;
    }
    .topbar nav.mobile-nav button svg.menu-icon {
      color: var(--secondary);
      font-size: 6vw;
    }
    .topbar nav.mobile-nav button svg.menu-icon:hover {
      cursor: pointer;
    }
    .topbar-wrapper > div.menuNav {
      overflow-y: hidden;
      position: fixed;
      background: var(--primary);
      left: 0;
      bottom: 0;
      width: 0;
      z-index: 9000;
      opacity: 0;
      text-align: center;
      transition: opacity 0.75s linear 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .topbar-wrapper > div.menuNav.showMenu {
      width: 100%;
      height: 100vh;
      z-index: 9000;
      padding-top: 6vh;
      opacity: 100%;
      bottom: 0;
      transition: opacity 0.75s linear 0.25s;
    }
    .topbar-wrapper div.menuNav > ul {
      list-style: none;
    }
    .topbar-wrapper > div.menuNav li {
      padding: 0;
      margin: 0;
    }
    .topbar-wrapper > .menuNav a {
      display: block;
      font-size: 6vw;
      padding: 4vw 8vw;
      margin: 5vw;
      text-decoration: none;
      color: var(--accent-c);
      text-transform: uppercase;
    }
    .topbar-wrapper .menuNav a.active {
      color: var(--secondary);
      font-weight: 600;
      text-decoration: underline;
      text-underline-offset: 3vw;
    }
    nav.desktop-nav {
      display: none;
    }
  
    .Footer {
      padding: 4.5vw 8vw 8vh;
    }
    /* .Footer:before {
      content: "";
      position: absolute;
      top: 0;
      left: calc(-5% - 2.6rem);
      right: 2.6rem;
      height: 70.2rem;
      background-color: #000;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1)
        0.3s;
      transition: -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
      transition: transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
      transition: transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s,
        -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
    } */
  
    .Footer > div.attribution {
      text-align: center;
      margin: 20vw 0 0;
    }
    .Footer > div.attribution span {
      display: inline-block;
      width: 100%;
      font-size: 3.5vw;
      color: var(--accent-c);
      padding: 1vw 0;
      font-variant: small-caps;
    }
    .Footer > div.contact-email {
      border-top: 1px solid var(--accent-d);
      margin: 0 0 16vw;
      padding: 13vw 0 4vw;
    }
    .Footer > div.contact-email span {
      padding: 2vw 0 0;
      color: var(--accent-c);
      font-size: 3.25vw;
    }
    .Footer > div.contact-email h3 {
      font-size: 6vw;
      padding: 2vw 0 0;
      color: var(--secondary);
    }
    .Footer > div.contact-email h3 a {
      color: var(--secondary);
      text-decoration: none;
    }
    .Footer > div.portfolio > ul {
      display: grid;
      gap: 2vw;
      grid-template-columns: auto auto auto auto;
      text-align: center;
    }
    .Footer > div.portfolio > ul li.footer-portfolio a {
      color: var(--secondary);
      /* text-decoration: un; */
      font-variant: small-caps;
      text-underline-offset: 1vw;
    }
  
    /* .disc img {
       width: 100%;
       animation: rotating 35s linear infinite;
      }
      .home__disc {
       position:fixed;
       left: 25%;
       top: 25%;
       width: 100vw;
       -webkit-transform:translate3d(calc(-50% + 28.3vw),calc(-50% + 32vh),0);
       transform:translate3d(calc(-50% + 28.3vw),calc(-50% + 32vh),0);
       pointer-events:none;
       z-index: 1;
      } */
  
    .Home,
    .About,
    .Projects,
    .Contact,
    .Shop,
    .Misc,
    .Error,
    .Case-study,
    .Playlist,
    .Readlist {
      position: relative;
      margin-top: 12.5vh;
      z-index: 10;
      min-height: 87.5vh;
      box-sizing: border-box;
      padding: 5vh 6vw 10vh;
    }
  
    .Home {
      display: flex;
      flex-flow: nowrap column;
    }
    .Home div.home-section {
      margin: 12vh 0;
      padding: 6vh 0;
    }
    .Home > div.name-and-title {
      margin-top: 2vh;
    }
    .Home > div.name-and-title > h1.name {
      margin-bottom: 10vh;
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 10vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      /* letter-spacing: 0.5vw; */
    }
    /* .Home > div.name-and-title > h1.name > span {
        display: block;
      }
      .Home > div.name-and-title > h1.name > span > span.alt {
        color: var(--primary-dark);
      } */
    .lineParent {
      overflow: hidden;
    }
    .lineChildren {
      transform: translateY(50px);
    }
    /* .Home > div.name-and-title > h2.title {
        margin-bottom: 10vh;
        color: var(--accent-c);
        font-family: var(--main-font);
        font-size: 4vw;
        color: var(--secondary);
        font-family: var(--main-font);
        font-size: 10vw;
        font-style: normal;
        font-weight: normal;
        line-height: var(--lh-a);
      } */
    .Home > div.name-and-title > div.dictionary {
      margin: 2vw 0 0 3vw;
    }
    .Home > div.name-and-title > div.dictionary > div {
      padding: 4vw 0 0;
    }
    .Home > div.name-and-title > div.dictionary > div:nth-child(1) > h4 {
      font-size: 3.5vw;
      display: inline-block;
      color: var(--accent-c);
      font-weight: normal;
      font-style: italic;
      padding-bottom: 2vw;
    }
    .Home
    > div.name-and-title
    > div.dictionary
    > div:nth-child(1)
    > h4:nth-child(1) {
      font-size: 4vw;
      color: var(--secondary);
      font-weight: normal;
      font-style: normal;
      padding-bottom: 2vw;
      margin-right: 4vw;
      text-decoration: underline;
      text-underline-offset: 1vw;
    }
    .Home > div.name-and-title > div.dictionary > div > h4 {
      font-size: 3.5vw;
      color: var(--accent-c);
      font-weight: normal;
      font-style: italic;
      padding-bottom: 1vw;
    }
    .Home > div.name-and-title > div.dictionary > div > p {
      line-height: var(--lh-a);
      margin-left: 10vw;
      font-size: 3.5vw;
    }
    .Home > div.name-and-title > div.dictionary > div > p span {
      font-style: italic;
      color: var(--accent-c);
      display: block;
      margin-top: 1vw;
      font-size: 3.5vw;
    }
    .Home > div:nth-child(2) {
      height: 66vh;
      position: inherit;
      overflow-x: hidden;
      display: none;
    }
    .Home > div:nth-child(2) > h3.scroll-effect [data-scroll]:not(.is-inview) {
      background-color: var(--secondary);
      color: var(--primary);
      font-size: 6vw;
      margin: 2vw 0;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2537, 0, 1);
    }
    .Home > div:nth-child(2) > h3.scroll-effect.is-inview {
      background-color: var(--secondary);
      color: var(--primary);
      font-size: 6vw;
      margin: 2vw 0;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1);
    }
    .Home > div.home-about div.image-container {
      position: relative;
    }
    .Home > div.home-about div.image-container .image-wrapper {
      mix-blend-mode: difference;
    }
    .Home
    > div.home-about
    div.image-container
    .image-wrapper
    > img.home-profile-image {
      clip-path: inset(100% 0% 0% 0%);
      transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .Home
    > div.home-about
    div.image-container
    .image-wrapper
    > img.home-profile-image.is-inview {
      clip-path: inset(0% 0% 0% 0%);
    }
    .Home > div.home-about div.image-container div:nth-child(2) {
      position: absolute;
      left: 50%;
      right: -25%;
      bottom: -3.7rem;
      width: 8.25rem;
      height: 8.25rem;
    }
    .Home > div.home-about div.image-container div:nth-child(2) svg.round-text {
      margin: auto;
      height: auto;
      transform-origin: center;
      z-index: 9;
    }
    .Home
    > div.home-about
    div.image-container
    div:nth-child(2)
    svg.round-text
    text {
      fill: var(--secondary);
      font-family: var(--main-font);
      letter-spacing: 0.005rem;
      word-spacing: 1.2vw;
      font-variant: small-caps;
      mix-blend-mode: color-burn;
    }
    .Home > div.home-about div.image-container {
      margin-bottom: 20vh;
    }
    .Home > div.home-about div.about-text p {
      padding-bottom: 7.5vh;
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: var(--fs-three);
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-c);
      /* letter-spacing: 0.25vw; */
    }
    /* .Home div.skillset {
        margin: 6vw 0 10vw;
      } */
    .Home div.skillset h2 {
      color: var(--accent-a);
      font-family: var(--main-font);
      font-size: 4vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
      border-bottom: 1.5px solid var(--secondary);
      text-align: right;
      padding: 2vw;
      margin-bottom: 6vw;
    }
    .Home div.skillset h2.is-inview:before {
      transform: scaleX(1);
      width: 250px;
      transition: width 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
    }
    .Home div.skillset h2:before {
      content: "";
      height: 0.2rem;
      width: 0;
      background-color: #000;
      transform-origin: right;
      -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
      transition: -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
      transition: transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
      transition: transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s, -webkit-transform 1.2s cubic-bezier(0.77, 0, 0.18, 1) 0.3s;
    }
    .Home div.skillset ul li {
      list-style-type: none;
      padding-bottom: 4vw;
      text-align: right;
    }
    .Home div.skillset ul li span.label-no {
      display: inline-block;
      color: var(--accent-c);
      font-family: var(--main-font);
      font-size: 3vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
      margin-right: 4vw;
    }
    .Home div.skillset ul li span.label {
      display: inline-block;
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
    }
    .Home div.home-nav {
      margin-bottom: 0;
    }
    .bright {
      color: var(--secondary);
    }
  
    /* .About div.photo-wrapper {
        position: relative;
        height: 65vh;
        margin-bottom: 8vh;
        overflow-x: clip;
      }
      .About div.photo-wrapper div.photo-container {
        max-width: 45.2rem;
        position: relative;
        height: 100%;
      }
      .About div.photo-wrapper div.photo-container div.photo-box {
        width: 100%;
        position: relative;
        height: 100%;
      }
      .About div.photo-wrapper div.photo-container div.photo-box figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .About div.photo-wrapper div.photo-container div.photo-box figure img.profile-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 15vw;
        vertical-align: middle;
      }
      .About p.paragraph {
        color: var(--accent-a);
        font-family: var(--main-font);
        font-size: 9vw;
        font-style: normal;
        font-weight: normal;
        line-height: var(--lh-a);
        letter-spacing: 0.04em;
        padding-bottom: 7.5vh;
      }
      .About p:nth-of-type(2n).paragraph  {
        padding: 0 0 7.5vh;
        text-align: right;
      } */
  
    .Projects .tab-list {
      padding-left: 0;
      width: 100%;
      margin: 2vw 0 20vw;
    }
    .Projects .tab-list-item {
      display: inline-block;
      list-style: none;
      margin-bottom: -1px;
      padding: 3vw 4vw;
      cursor: pointer;
      color: var(--accent-a);
      font-size: 3.5vw;
    }
    .Projects .tab-list-active {
      background-color: var(--secondary);
      color: var(--primary);
      border-radius: 1vw;
    }
    /* .Projects ul.project-item {
        padding: 5vh 2vw;
      } */
    .Projects > div .tabs .tab-content li.project-list-item {
      list-style: none;
      padding-bottom: 12vw;
      text-align: left;
    }
    .Projects > div .tabs .tab-content li.project-list-item span.label-no {
      display: inline-block;
      color: var(--accent-c);
      font-family: var(--main-font);
      font-size: 3vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
      margin-right: 4vw;
    }
    .Projects > div .tabs .tab-content li.project-list-item a.label {
      display: inline-block;
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
      text-decoration: none;
    }
    /* .Projects div.project-item > div:first-child {
        padding: 1vh 0 0;
      }
      .Projects div.project-item > div:first-child h1 {
        color: var(--accent-a);
        font-family: var(--main-font);
        font-size: 10vw;
        line-height: var(--lh-a);
        font-weight: normal;
        font-style: normal;
      }
      .Projects div.project-item > div:first-child h1 a, .Projects div.project-item > div:first-child h1 a:visited {
        text-decoration: none;
        color: currentColor;
      }
      .Projects div.project-item > div.project-item-body {
        display: none;
        padding: 0.5vh 0 0.5vh 5vw;
      }
      .Projects div.project-item.is-inview > div.project-item-body {
        display: block;
      }
      .Projects div.project-item > div.project-item-body > div {
        padding: 0;
      }
      .Projects div.project-item > div.project-item-body > div:first-child {
        margin-bottom: 1vh;
      }
      .Projects div.project-item > div.project-item-body > div:first-child p {
        padding: 1vh 0;
        color: var(--accent-a);
        font-family: var(--sub-font);
        font-size: 5vw;
        line-height: var(--lh-a);
        font-weight: normal;
        font-style: normal;
        letter-spacing: 0.08rem;
      }
      .Projects div.project-item > div.project-item-body > div:last-child span {
        padding: 1vh 2.5vw 1vh 0;
        color: var(--accent-b);
        font-family: var(--sub-font);
        font-size: 3vw;
        line-height: var(--lh-a);
        font-weight: normal;
        font-style: normal;
        letter-spacing: 0.08rem;
      }
      .Projects div.project-item > div.project-item-body > div:last-child a {
        padding: 1vh 0 1vh 2.5vw;
        color: var(--secondary);
        font-family: var(--main-font);
        font-size: 3vw;
        line-height: var(--lh-a);
        font-weight: normal;
        font-style: normal;
        letter-spacing: 0.08rem;
        text-decoration: none;
      }
      .Projects div.project-item > div.project-item-body > div:last-child a:visited {
        color: currentColor;
      } */
  
    .Case-study .header {
      margin: 2vh 0 4vh;
      padding-left: 4vw;
      border-left: 1.5vw solid var(--secondary);
    }
    .Case-study .header > div {
      margin: 0 0 2vh;
    }
    .Case-study .header > div > h4 {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 4.5vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
      margin-bottom: 1vh;
      padding-left: 0;
    }
    .Case-study .header > div span.minor-subheading {
      padding-bottom: 1vw;
      color: var(--accent-a);
      font-family: var(--sub-font);
      font-size: 3vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
      display: inline-block;
    }
    .Case-study .body {
      padding: 6vh 0vw;
    }
    .Case-study .body > div.case-study-section {
      margin-bottom: 13vh;
    }
    .Case-study .body > div.case-study-section:last-of-type {
      margin-bottom: 1vh;
    }
    .Case-study .body > div.case-study-section h3 {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6.5vw;
      line-height: var(--lh-a);
      font-weight: bold;
      font-style: normal;
      padding: 0 0 3.5vh;
    }
    .Case-study .body > div.case-study-section p {
      color: var(--secondary);
      font-family: var(--sub-font);
      font-size: 4.5vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
      padding: 5vh 0 0;
    }
  
    .Contact {
      display: flex;
      flex-flow: column;
    }
    .Contact > div > p.paragraph {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.04em;
      padding: 5vh 0 5vh 0;
      margin: 0 auto 0;
    }
    .Contact > div:first-child {
      margin: 0 0 4vh;
    }
    .Contact > div:last-child form {
      box-sizing: border-box;
      padding: 3vh 3vw;
      display: block;
    }
    .Contact > div:last-child form label {
      display: inline-block;
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: normal;
      font-size: 3vw;
      line-height: var(--lh-a);
      letter-spacing: 0.25vw;
      color: var(--secondary);
      margin-bottom: 1.25vh;
    }
    .Contact > div:last-child form input,
    .Contact > div:last-child form select,
    .Contact > div:last-child form textarea {
      padding: 5vw 4.5vw;
      background-color: var(--accent-d);
      color: var(--secondary);
      border: none;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: normal;
      font-size: 4vw;
      letter-spacing: 0.25vw;
      display: block;
      margin: 0 0 8vw;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
    }
    .Contact > div:last-child form textarea {
      line-height: var(--lh-b);
      height: 25vh;
    }
    .Contact > div:last-child form input:focus,
    .Contact > div:last-child form select:active,
    .Contact > div:last-child form textarea:focus {
      background-color: transparent;
      border: 1px solid var(--secondary);
      padding: 5vw 4.5vw;
      margin: 0 0 8vw;
      outline: none;
    }
    .Contact > div:last-child form input:valid,
    .Contact > div:last-child form select:valid,
    .Contact > div:last-child form textarea:valid {
      background-color: var(--accent-d);
      color: var(--secondary);
      border-left: 2px solid var(--secondary);
    }
    .Contact > div:last-child form input:invalid,
    .Contact > div:last-child form select:user-invalid,
    .Contact > div:last-child form textarea:user-invalid {
      /* border: 1.5px wavy red; */
      border: 1px solid rgba(180, 0, 0, 0.2);
    }
    .Contact ul li.social-icon {
      font-size: 3vw;
      color: var(--accent-a);
      padding: 0.05rem;
    }
    .Contact ul li.social-icon:hover {
      color: var(--secondary);
    }
    .Contact > div:nth-child(2) > div.socials {
      display: grid;
      gap: 5vw;
      grid-template-columns: auto auto auto auto;
      margin-top: 18vw;
    }
    .Contact > div:nth-child(2) > div.socials > div.contact-social-list {
      margin: 4vw auto;
      background-color: var(--accent-d);
      border-radius: 50%;
      text-align: center;
      width: 15vw;
      max-width: 50px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Contact
      > div:nth-child(2)
      > div.socials
      > div.contact-social-list
      > a
      .social-icon {
      color: var(--secondary);
    }
  
    .Shop {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .Shop div:first-child {
      text-align: center;
    }
    .Shop div:first-child span {
      font-family: "Alliance No.2";
      font-size: 6vw;
      display: block;
      margin-bottom: 10vw;
    }
  
    .Misc > div:first-child {
      margin: 0 0 10vw;
    }
    .Misc > div:first-child > p.paragraph {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6vw;
      font-style: normal;
      font-weight: normal;
      line-height: var(--lh-a);
      letter-spacing: 0.5vw;
      padding: 5vw 5vw 5vw 0;
      margin: 0;
    }
    .Misc > div:first-child > p.paragraph > span {
      color: var(--accent-a);
    }
    .Misc div.misc-item {
      border-bottom: 1px solid var(--accent-d);
      padding: 5vh 2vw;
    }
    .Misc div.misc-item > div:first-child {
      padding: 1vh 0 0;
    }
    .Misc div.misc-item > div:first-child h1 {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 6vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
    }
    .Misc div.misc-item > div:first-child h1 a,
    .Misc div.misc-item > div:first-child h1 a:visited {
      text-decoration: none;
      color: currentColor;
    }
    .Misc div.misc-item > div:last-child {
      /* display: none; */
      width: 75vw;
      padding: 0.5vh 0 0.5vh 0;
      margin-left: auto;
      text-align: right;
    }
    /* .Misc div.misc-item > div:last-child.is-inview {
        display: block;
        transition: display 0.75s ease-out;
      } */
    .Misc div.misc-item > div:last-child p {
      padding: 1vh 0;
      color: var(--accent-a);
      font-family: var(--sub-font);
      font-size: 4vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
      letter-spacing: 0.08rem;
    }
    .misc-section-item {
      padding: 2vh 2vw;
      margin-bottom: 2.5vh;
      display: flex;
      flex-flow: column nowrap;
    }
    .misc-section-item > div {
      width: auto;
      padding: 1vh 0.5vw;
    }
    .misc-section-item > div:first-child {
      justify-self: flex-start;
    }
    .misc-section-item > div:first-child h1 {
      color: var(--secondary);
      font-family: var(--main-font);
      font-size: 7vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
    }
    .misc-section-item > div:first-child h1 a,
    .misc-item > div:first-child h1 a:visited {
      text-decoration: none;
      color: currentColor;
    }
    .misc-section-item > div:last-child {
      width: fit-content;
      margin-left: auto;
    }
    .misc-section-item > div:last-child span {
      color: var(--accent-a);
      font-family: var(--sub-font);
      font-size: 3vw;
      line-height: var(--lh-a);
      font-weight: normal;
      font-style: normal;
      text-align: right;
      text-transform: uppercase;
    }
    .misc-section-item > div:last-child > span:first-child {
      color: var(--accent-b);
      font-size: 4.5vw;
      text-transform: capitalize;
    }
  
    .misc-header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 0;
    }
    .misc-header h1 {
      margin: 0;
      color: var(--secondary);
      font-family: var(--main-font);
      padding: 1.5rem;
    }
    .misc-header a {
      display: inline-block;
      background-color: var(--primary);
      padding: 0.5rem 1.6rem;
      color: var(--secondary);
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
    }
  
    .Error div {
      text-align: center;
    }
    .Error h1 {
      font-size: 15vw;
      color: var(--secondary);
      font-family: var(--main-font);
      margin: 2.5vw 0 0;
    }
    .Error h3 {
      font-size: 3.5vw;
      color: var(--accent-a);
      font-family: var(--sub-font);
      font-weight: normal;
      margin: 0;
    }
    .Error p {
      width: fit-content;
      padding: 6.5vw 6.5vw 0;
      color: var(--secondary);
      line-height: var(--lh-a);
      font-size: 4vw;
      font-family: var(--main-font);
      font-weight: normal;
    }
  
    @keyframes rotate {
      from {
        transform: rotate3d(0, 1, 0, 0deg);
      }
      to {
        transform: rotate3d(0, 1, 0, 360deg);
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .Loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Loading div {
      text-align: center;
      padding: 1rem;
    }
    .Loading div > span:first-child {
      text-transform: uppercase;
      font: bold 26vmax/0.8 var(--sub-font);
      display: table;
      color: var(--primary);
      mix-blend-mode: multiply;
      color: white;
    }
    nav {
      display: block;
      width: 100vh !important;
      height: 65px;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 9999;
      transform: rotate(90deg);
      transform-origin: top right;
    }
    nav > div {
      box-sizing: border-box;
      margin: 0 auto;
      height: 100%;
    }
    nav > div ul {
      width: fit-content;
      display: grid;
      margin: 0 auto;
      grid-template-columns: repeat(5, auto);
      padding-left: 0;
    }
    nav > div ul li {
      width: auto;
      list-style-type: none;
      padding: 0.9rem 1rem;
      text-transform: uppercase;
      transition: all 0.4s ease-in-out;
    }
    nav > div ul li:hover {
      transform: scale(1.15);
    }
    nav > div > ul li a {
      text-decoration: none;
      color: #5a5a5a;
      padding: 0.4rem 0;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 0.66rem;
      line-height: var(--lh-a);
      letter-spacing: 0.02em;
    }
    .active {
      color: var(--secondary);
      border-bottom: 1.5px solid var(--secondary);
    }
  
    .topbar-wrapper {
      height: 100%;
      width: 100vw;
      position: relative;
      box-sizing: border-box;
    }
    .topbar {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: row;
      padding: 1rem 2.5% 0.5rem;
      position: fixed;
      z-index: 9998;
      top: 0;
      background-color: transparent;
    }
    .topbar .logo {
      display: flex;
      flex-flow: column;
      height: fit-content;
    }
    .topbar .logo span {
      display: inline-block;
      width: 30px;
      height: 4px;
      background-color: var(--primary);
    }
    .topbar .logo a {
      text-decoration: none;
      color: var(--secondary);
      padding-top: 0.5rem;
      width: 91px;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: var(--lh-a);
      letter-spacing: 0.025em;
      text-align: left;
    }
    .topbar a.resume {
      font-family: var(--main-font);
      width: 5vw;
      min-height: 2vh;
      padding: 0.2rem 0.6rem;
      color: var(--secondary);
      background-color: #363636;
      border-radius: 0.6rem;
      text-decoration: none;
      text-align: center;
    }
  
    .social-list {
      width: auto;
      position: fixed;
      width: auto;
      height: auto;
      right: 4.5vw;
      bottom: 1.5vh;
      z-index: 9999;
    }
    .social-list ul {
      padding: 0;
    }
    li.social-list-item {
      list-style-type: none;
      display: inline-block;
      padding: 0.6rem;
    }
    li.social-list-item a svg {
      color: var(--secondary);
    }
  
    .disc img {
      width: 100%;
      animation: rotating 25s linear infinite;
    }
    .disc img circle {
      pointer-events: all;
    }
    .disc .disc__circle {
      cursor: pointer;
    }
    .home__disc {
      position: fixed;
      left: 25%;
      top: 25%;
      width: 100vw;
      -webkit-transform: translate3d(calc(-50% + 28.3vw), calc(-50% + 32vh), 0);
      transform: translate3d(calc(-50% + 28.3vw), calc(-50% + 32vh), 0);
      pointer-events: none;
      z-index: 1;
    }
  
    .home,
    .About,
    .Projects,
    .Contact,
    .Misc {
      position: relative;
      top: 12.5%;
      z-index: 10;
      min-height: 87.5vh;
    }
  
    .home {
      display: flex;
      flex-flow: nowrap row;
      align-items: center;
    }
    .home div {
      color: var(--accent-a);
      font-family: var(--main-font);
      font-size: 4vw;
      font-style: normal;
      font-weight: 700;
      line-height: var(--lh-a);
      letter-spacing: 0.04em;
      padding: 5vw;
    }
    .home div > span {
      display: block;
    }
    .bright {
      color: var(--secondary);
    }
    .home-images {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: nowrap column;
      justify-content: center;
      align-items: center;
    }
    .home-image {
      width: 446px;
      height: 446px;
      object-fit: contain;
      animation: hover 5s ease-in-out infinite alternate;
    }
    .home .container {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: nowrap column;
      justify-content: center;
      align-items: center;
    }
    .home .container > span {
      color: white;
      font-size: 6vw;
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: 700;
      line-height: var(--lh-a);
      letter-spacing: 0.04em;
      display: block;
    }
    .home .container > span:nth-child(2) {
      margin-left: 17.5%;
    }
    .home .container > span:nth-child(3) {
      margin-left: 35%;
    }
    .home .period {
      color: #8d8d8e;
    }
  
    .About .intro {
      width: 737px;
      height: auto;
      margin-bottom: 3rem;
      margin-left: 12.45%;
    }
    .About .intro > div {
      margin-bottom: 3.5rem;
    }
    .About .intro p {
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: var(--lh-a);
      letter-spacing: 0.12rem;
      color: var(--secondary);
      margin: 0.25rem 0 0;
    }
    .About .intro p:hover {
      animation: glitch 1.5s linear infinite, glitchTop 1.5s linear infinite,
        glitchBottom 1.5s linear infinite;
    }
    .About .skill {
      margin-left: 12.45%;
      width: fit-content;
    }
    .About .skill h6,
    .About .intro h6 {
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: var(--lh-a);
      letter-spacing: 0.02em;
      margin: 0 0 0.66rem;
      color: #363636;
      text-transform: uppercase;
    }
    .About .skill > div {
      display: flex;
      flex-flow: row;
      width: fit-content;
    }
    .About .skill > div div {
      width: 300px;
      margin-right: 51px;
    }
    .About .skill > div:last-child {
      margin-right: 0;
    }
    .About .skill > div div h2 {
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: var(--lh-a);
      text-transform: uppercase;
      color: var(--secondary);
      margin: 0 0 1rem;
    }
    .About .skill > div div h2 span {
      color: #363636;
    }
    .About .skill > div div p {
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: var(--lh-a);
      letter-spacing: 0.02em;
      color: #f7f7f7;
    }
    .About .skill > div div p:last-child {
      font-family: var(--sub-font);
      font-style: italic;
      font-weight: normal;
      font-size: 0.6rem;
      line-height: var(--lh-a);
      letter-spacing: 0.02em;
      color: green;
      text-transform: uppercase;
    }
  
    .Projects .tab-list {
      border-bottom: 1px solid #5a5a5a;
      padding-left: 0;
      width: 50%;
      margin: 1.5% 0 3% 12.5%;
    }
    .Projects .tab-list-item {
      display: inline-block;
      list-style: none;
      margin-bottom: -1px;
      padding: 0.75rem 2.5rem;
      cursor: pointer;
      color: var(--secondary);
    }
    .Projects .tab-list-active {
      background-color: var(--primary);
    }
    .Projects .dev-card {
      background-image: linear-gradient(
        to bottom,
        var(--primary) 0%,
        var(--primary) 100%
      );
      background-color: var(--primary);
      padding: 0.75rem 2rem;
      margin: 0 0 1rem 12.5%;
      border-radius: 2px;
      transition: all 0.4s ease-in-out;
      width: 50%;
    }
    .Projects .dev-card:hover {
      transform: scale(1.1);
      background-image: linear-gradient(to bottom, #404044 0%, #303033 100%);
    }
    .Projects .dev-card > div:first-child {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 0 0.5rem;
    }
    .Projects .dev-card > div:first-child div:first-child,
    .Projects .dev-card > div:first-child div:last-child {
      width: 50%;
    }
    .Projects .dev-card > div:first-child div:first-child h4 {
      color: var(--secondary);
      font-size: 0.9rem;
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      padding: 0.25rem;
      width: fit-content;
      margin: 0;
    }
    .Projects .dev-card > div:first-child div:first-child span {
      color: green;
      font-size: 0.6rem;
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      padding: 0.25rem;
      text-transform: uppercase;
    }
    .Projects .dev-card > div:last-child p {
      color: var(--secondary);
      font-size: 0.75rem;
      font-family: var(--sub-font) Light;
      font-weight: normal;
      font-style: normal;
      padding: 0.25rem;
      margin: 0;
    }
  
    .Contact {
      display: flex;
      flex-flow: row;
    }
    .Contact > div:last-child {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Contact > div:last-child form label {
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: var(--lh-a);
      letter-spacing: 0.02em;
      color: #5a5a5a;
    }
    .Contact > div:last-child form input,
    .Contact > div:last-child form select,
    .Contact > div:last-child form textarea {
      width: 20rem;
      height: auto;
      padding: 0.6rem;
      background-color: var(--primary);
      color: var(--secondary);
      border: none;
      font-family: var(--sub-font);
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: var(--lh-a);
      letter-spacing: 0.05rem;
      display: block;
      margin-bottom: 1.25rem;
    }
    .Contact > div:last-child form button {
      width: auto;
      height: auto;
      padding: 0.8rem 1.6rem;
      background-color: var(--secondary);
      color: #363636;
      border: none;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      text-align: center;
    }
    .Contact > div:first-child {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Contact > div:first-child ul {
      margin: 0;
      padding: 0;
    }
    .Contact > div:first-child p {
      color: var(--secondary);
      font-size: 1.5rem;
      line-height: var(--lh-a);
      letter-spacing: 0.02rem;
      font-family: var(--sub-font);
      font-weight: normal;
      padding: 0.2rem;
      width: 80%;
    }
    .Contact .social-icon {
      font-size: 1.5rem;
      color: var(--accent-a);
    }
    .Contact .social-icon:hover {
      color: var(--secondary);
    }
  
    .Misc > div:first-child {
      padding: 1rem;
      margin: 2rem 0;
      margin-left: 12.5%;
      width: auto;
    }
    .Misc > div:first-child > span {
      color: var(--secondary);
      display: block;
      font-size: 1.5rem;
      line-height: var(--lh-a);
    }
    .Misc > div:last-child {
      width: 84%;
      margin-left: 12.5%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .Misc > div:last-child > div.tab {
      position: relative;
      height: 15vh;
      background-color: var(--primary);
      margin-right: 20%;
      margin-bottom: 10%;
      padding: 2rem 2rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      font-family: var(--sub-font);
      transition: all 0.4s ease-in-out;
    }
    .Misc > div:last-child > div a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: none;
      text-decoration: none;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 2rem;
    }
    .Misc > div:last-child > div.tab:hover {
      /* background-image: linear-gradient(to bottom, #f523a7 0%, #ff9408 100%); */
      background-image: linear-gradient(to bottom, #404044 0%, #303033 100%);
      transform: scale(1.1);
    }
    .Misc > div:last-child > div > a h3 {
      margin-top: 0;
      color: var(--secondary);
    }
    .Misc > div:last-child > div > a p {
      color: var(--accent-a);
      font-size: 0.8rem;
      line-height: var(--lh-a);
    }
  
    .misc-header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 0;
    }
    .misc-header h1 {
      margin: 0;
      color: var(--secondary);
      font-family: var(--main-font);
      padding: 1.5rem;
    }
    .misc-header a {
      display: inline-block;
      background-color: var(--primary);
      padding: 0.5rem 1.6rem;
      color: var(--secondary);
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
    }
    .Playlist > div,
    .Readlist > div {
      padding: 0 3rem 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .Playlist > div h3,
    .Readlist > div h3 {
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      color: #5a5a5a;
    }
    .Playlist > div div.item,
    .Readlist > div div.item {
      background-color: var(--primary);
      padding: 0.75rem 2rem;
      margin: 0 5% 1rem 0;
      border-radius: 2px;
      display: flex;
      flex-flow: row nowrap;
    }
    .Playlist > div div.item > div:first-child,
    .Readlist > div div.item > div:first-child {
      display: flex;
      flex-flow: column nowrap;
      width: 33%;
    }
    .Playlist > div div.item > div:first-child span:first-child,
    .Readlist > div div.item > div:first-child span:first-child {
      color: var(--secondary);
      font-size: 0.9rem;
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      padding: 0.25rem;
    }
    .Playlist > div div.item > div:first-child span:last-child,
    .Readlist > div div.item > div:first-child span:last-child {
      font-weight: bold !important;
      text-transform: uppercase;
      font-size: 0.65rem !important;
    }
    .Playlist > div div.item > div:first-child span:last-child,
    .Playlist > div div.item > div:last-child span:first-child,
    .Playlist > div div.item > div:last-child span:nth-child(2),
    .Playlist > div div.item > div:last-child span:last-child,
    .Readlist > div div.item > div:first-child span:last-child,
    .Readlist > div div.item > div:last-child span:first-child,
    .Readlist > div div.item > div:last-child span:nth-child(2),
    .Readlist > div div.item > div:last-child span:last-child {
      color: #5a5a5a;
      font-size: 0.75rem;
      font-family: var(--sub-font);
      font-weight: normal;
      font-style: normal;
      padding: 0.25rem;
      height: fit-content;
    }
    .Playlist > div div.item > div:last-child,
    .Readlist > div div.item > div:last-child {
      display: flex;
      flex-flow: row nowrap;
      width: 67%;
      justify-content: space-evenly;
      align-items: center;
    }
  
    .Error div {
      text-align: center;
    }
    .Error img {
      width: 350px;
      height: 350px;
    }
    .Error h1 {
      font-size: 3.5rem;
      color: var(--secondary);
      font-family: var(--sub-font);
      margin: 0.5rem 0 0;
    }
    .Error h3 {
      font-size: 1rem;
      color: #5a5a5a;
      font-family: var(--sub-font);
      font-weight: normal;
      margin: 0;
    }
    .Error p {
      width: fit-content;
      color: var(--secondary);
      line-height: var(--lh-a);
      margin: auto;
    }
  
    @keyframes brighten {
      from {
        filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.26));
      }
      to {
        filter: drop-shadow(
          0px 22px 123px rgba(255, 255, 255, 0.26),
          0px 10.1713px 56.8666px rgba(255, 255, 255, 0.192836),
          0px 5.81977px 32.5378px rgba(255, 255, 255, 0.162963),
          0px 3.53256px 19.7502px rgba(255, 255, 255, 0.140387),
          0px 2.12852px 11.9004px rgba(255, 255, 255, 0.119613),
          0px 1.1853px 6.62689px rgba(255, 255, 255, 0.097037),
          0px 0.509789px 2.85018px rgba(255, 255, 255, 0.0671644)
        );
      }
    }
  }
  